# Optional overrides for docker/node/docker-compose.yml
ADVERTISE_ADDR=
PUBLIC_ADVERTISE_ADDR=
VALIDATOR_ADVERTISE_ADDR=
SEED_ADDRS=49.212.136.189:6690
VALIDATOR_INDEX=0
VALIDATOR_COUNT=1
BLOCK_TIME=60
